<h1>Assessment</h1>

<h2> <%= @student.first_name %></h2>

<h2> <%= @assessment.student_id %></h2>
<h2> <%= @assessment.colour %>
<h2> <%= @assessment.comment %></h2>
<h2> <%= @assessment.date %></h2>
