
<div class="container">
  <div class="row">
    <div class="col-md-6">

      <h1> <%= @student.first_name %> <%= @student.surname %> </h1>
      <%= image_tag @student.image_url %>
      <br><br>

      <%= link_to 'Back', :back, class:'btn btn-default' %>
      <%= link_to "Edit Student", edit_batch_student_path(@batch, @student), class: "btn btn-primary" %>
      <%= link_to "Delete Student", batch_student_path(@student.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>






    </div>

    <div class="col-md-6">

      <h1>Assessment</h1>
      <%= form_for @assessment do |f| %>


      <div class="form-group">
        <div class="row">
          <div class="col-md-2">

            <%= f.label :colour %>

          </div>

          <div class="col-md-2">

            <%= f.select(:colour, options_for_select(["Red", "Yellow", "Green"], "Green")) %>

          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-2">

            <%=  f.label :date %>

          </div>

          <div class="col-md-2">

            <%= f.date_select :date, id: :assessment_date %>

          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-2">

            <%= f.label :comment %>

          </div>

          <div class="col-md-2">

            <%= f.text_area :comment %>

          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-2">

            <%= f.label :student_id %>

          </div>

          <div class="col-md-2">
              <%= f.collection_select(:student_id, Student.all, :id, :first_name, {:selected => @student.id}) %>

          </div>
        </div>
      </div>

      <div class="actions">

        <%= f.submit "Create", class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <h1>All Assessments</h1>

      <% if @student.assessments.any? %>

      <% @assessments.each do |assessment| %>



            <% if assessment.colour == "Green" %>
            <h4 class="evaluationgreen"><%= link_to "Go", assessment_path(assessment.id) %></h4>


            <% elsif assessment.colour == "Yellow" %>
            <h4 class="evaluationyellow"><%= link_to "Go", assessment_path(assessment.id) %></h4>


            <% elsif assessment.colour == "Red" %>
            <h4 class="evaluationred"><%= link_to "Go", assessment_path(assessment.id) %></h4>
            <% end %>

      <% end %>

      <% else %>
      <p>There are no assessments yet for this student</p>
      <% end %>

    </div>
  </div>
</div>
