<h1> <%= @student.first_name %> <%= @student.surname %> </h1>
<%= image_tag @student.image_url %>
<br>

<% @student.assessments.each do |assessment| %>
      <h4><%= assessment.colour %> <%= assessment.date %></h4>
    <% end %>
<%= link_to "New Assessment", new_assessment_path %>

<br>
<hr>

<%= form_for @assessment do |f| %>



  <%= f.label :colour %>
  <%= f.select(:colour, options_for_select(["Red", "Yellow", "Green"], "Green")) %>

  <%=  f.label :date %>
  <%= f.date_select :date, id: :assessment_date %>

  <%= f.label :comment %>
  <%= f.text_area :comment %>

  <%= f.label :student_id %>
  <%= f.collection_select(:student_id, Student.all, :id, :first_name, {:selected => @student.id}) %>

  <%= f.submit (@assessment.new_record? ? "Create" : "Update") %>
<% end %>




<%= link_to "[Edit Student]", edit_student_path(@student.id) %>
<%= link_to "[Delete Student]", student_path(@student.id), method: :delete, data: { confirm: "Are you sure?" } %>
