<h1> <%= @student.first_name %> <%= @student.surname %> </h1>
<%= image_tag @student.image_url %>
<br>

<% @student.assessments.each do |assessment| %>
      <h4><%= assessment.colour %> <%= assessment.date %></h4>
    <% end %>
<%= link_to "New Assessment", new_assessment_path %>

<br>
<hr>





<%= link_to "[Edit Student]", edit_student_path(@student.id) %>
<%= link_to "[Delete Student]", student_path(@student.id), method: :delete, data: { confirm: "Are you sure?" } %>
