
<div class="container">
  <div class="row">
    <div class="col-md-6">

      <h1> <%= @student.first_name %> <%= @student.surname %> </h1>
      <%= image_tag @student.image_url %>
      <br>

      <% @student.assessments.each do |assessment| %>
      <% assessment_l = "#{assessment.colour} #{assessment.date}" %>
            <h4><%= link_to assessment_l, assessment_path(assessment.id) %></h4>
      <% end %>

    </div>

    <div class="col-md-6">

      <h1>Assessment</h1>
      <%= form_for @assessment do |f| %>

      <div class="form-group">
        <div class="row">
          <div class="col-md-2">

            <%= f.label :colour %>

          </div>

          <div class="col-md-2">

            <%= f.select(:colour, options_for_select(["Red", "Yellow", "Green"], "Green")) %>

          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-2">

            <%=  f.label :date %>

          </div>

          <div class="col-md-2">

            <%= f.date_select :date, id: :assessment_date %>

          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-2">

            <%= f.label :comment %>

          </div>

          <div class="col-md-2">

            <%= f.text_area :comment %>

          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-2">

            <%= f.label :student_id %>

          </div>

          <div class="col-md-2">
              <%= f.collection_select(:student_id, Student.all, :id, :first_name, {:selected => @student.id}) %>

          </div>
        </div>
      </div>

      <div class="actions">

        <%= f.submit "Create", class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <%= link_to "Edit Student", edit_student_path(@student.id), class: "btn btn-primary" %>
      <%= link_to "Delete Student", student_path(@student.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>

    </div>
  </div>
</div>
