<%= form_for @batch do |f| %>

<ul>
  <% @batch.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>

  <%= f.label :batch_number %>
  <%= f.number_field :batch_number %>

  <%= f.label :start_date %>
  <%= f.date_select :start_date, id: :batch_start_date %>

  <%=  f.label :end_date %>
  <%= f.date_select :end_date, id: :batch_end_date %>


  <%= f.submit (@batch.new_record? ? "Create" : "Update") %>
<% end %>
