
<div class="panel panel-primary">
  <div class="panel-heading">

    <h1 class="panel-title"> Batch <%= @batch.batch_number %> <%= @batch.start_date %></h1>

  </div>

  <div class="panel-body">


    <h3>Students</h3>


      <% @students.each do |student| %>
          <% student_l = "#{student.first_name} #{student.surname}" %>
          <h4><%= link_to student_l, student_path(student.id) %></h4>
      <% end %>

        <div class="col-md-3 col-md-offset-9">



          <p><%= link_to "Edit Batch", edit_batch_path(@batch.id), class: "btn btn-primary" %>
          <%= link_to "Delete Batch", batch_path(@batch.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></p>

        </div>

  </div>
</div>

<%= link_to 'Back', :back, class:'btn btn-default' %>
